.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/resources/temp/
src/main/resources/static/.bowerrc
src/main/resources/static/.gitignore
src/main/resources/static/LICENSE.txt
src/main/resources/static/README.md
src/main/resources/static/bower.json
src/main/resources/static/changelog.md
src/main/resources/static/vendors/skycons/README.md
src/main/resources/static/vendors/starrr/README.md
src/main/resources/static/vendors/starrr/bower.json
src/main/resources/static/vendors/starrr/package.json
src/main/resources/static/vendors/switchery/.bower.json
src/main/resources/static/vendors/switchery/bower.json
src/main/resources/static/vendors/switchery/package.json
src/main/resources/static/vendors/transitionize/.bower.json
src/main/resources/static/vendors/transitionize/bower.json
src/main/resources/static/vendors/transitionize/package.json
src/main/resources/static/vendors/validator/.bower.json
src/main/resources/static/vendors/validator/.gitignore
src/main/resources/static/vendors/validator/README.md
