
.modalCustom input[type="text"],input[type="password"],input[type="email"]{
  box-sizing: border-box;
  text-align:center;
  font-size:15px;
  border-radius:6px;
  border:1px solid #c8cccf;
  color:#6a6f77;
  -web-kit-appearance:none;
  -moz-appearance: none;
  display:block;
  outline:0;
  padding:0 1em;
  text-decoration:none;
  width:100%;
}
.modalCustom input[type="text"]:focus{
  border:1px solid #72afd3;
}

.modalCustom input[type="password"]:focus{
  border:1px solid #72afd3;
}

.modalCustom input[type="email"]:focus{
  border:1px solid #72afd3;
}

.modalCustom table td{
	text-align: center;
	vertical-align: middle;
	font: 18px bold;
}

.error-display{
	font-size: 14px;
	color: #f77062;
}

.correct-display {
	color: #00FF00;
}
/*body{
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;!important;
}*/
