<div class="scoreview">
<div name="scoreTTable">
	<div class="content">
		<div style="float: right;">
			<!--show drop down menu-->
			<div isteven-multi-select input-model="filter" output-model="outputSelect"
				button-label="name" item-label="name" tick-property="ticked"></div>
		</div>
		<table ng-table="tableParams"
				class="table table-striped table-condensed table-hover table-align table-bordered">
			<tr ng-repeat="score in $data" ng-form="scoreTForm"
				demo-tracked-table-row="score">

				<td ng-if="filter[0].ticked" data-title="'学期'"
					filter="{term : 'text'}" 
					sortable="'term'" header-class="'active'" 
					demo-tracked-table-cell >
					{{score.term}}</td>
					
				<td ng-if="filter[1].ticked" data-title="'课程号'" 
					filter="{cnumber: 'text'}" sortable="'cnumber'" 
					header-class="'active'" demo-tracked-table-cell
					>{{score.cnumber}}</td>
					
				<td ng-if="filter[2].ticked" data-title="'所属学院'"
					filter="{aname: 'text'}" sortable="'aname'"
					header-class="'active'" demo-tracked-table-cell
				    ng-form="aname">{{score.cname}}</td>
				    
				<td ng-if="filter[3].ticked" data-title="'课程名'"
					filter="{cname: 'text'}" sortable="'cname'"
					header-class="'active'" demo-tracked-table-cell
				    >{{score.cname}}</td>
				 
				<td ng-if="filter[5].ticked" data-title="'课程种类'"
					filter="{ccategory: 'text'}" sortable="'ccategory'"
					header-class="'active'" demo-tracked-table-cell
				    >{{score.ccategory}}</td>
				    
				<td ng-if="filter[4].ticked" data-title="'课程类型'"
					filter="{ctype: 'text'}" sortable="'ctype'"
					header-class="'active'" demo-tracked-table-cell
				    >{{score.ctype}}</td>
				    
				<td ng-if="filter[6].ticked" data-title="'课程学时'"
					filter="{ chour: 'text'}" sortable="'chour'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.chour}}</td>
					
				<td ng-if="filter[7].ticked" data-title="'课程学分'"
					filter="{ cpoint: 'text'}" sortable="'cpoint'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.cpoint}}</td>
			
				<td ng-if="filter[8].ticked" data-title="'考试名称'"
					filter="{ ename: 'text'}" sortable="'ename'"
					header-class="'active'" demo-tracked-table-cell
					><button type="button" style="text-align: center;vertical-align: middle;" 
						class="btn btn-info" title="修改该考试所有成绩"
					ng-click="addScore(score.eid,score.examtype)">{{score.ename}}</button></td>
					
				<td ng-if="filter[9].ticked" data-title="'考试时长'"
					filter="{ totaltime: 'text'}" sortable="'totaltime'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.totaltime}}</td>

				<td ng-if="filter[10].ticked" data-title="'考试总分'"
					filter="{totalscore: 'text'}" sortable="'totalscore'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.totalscore}}</td>
					
				<td ng-if="filter[11].ticked" data-title="'考试类型'"
					filter="{examtype: 'text'}" sortable="'examtype'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.examtype}}</td>
					
				<td ng-if="filter[12].ticked" data-title="'考试形式'"
					filter="{eform: 'text'}" sortable="'eform'"
					header-class="'active'" demo-tracked-table-cell
					>{{score.eform}}</td>
			</tr>
		</table>
	</div>
</div>
</div>


<!--template for edit modal-->
<script type="text/ng-template" id="addScore.html">
	<div class="modalCustom">
		<div>
			<div class="modal-content">
				<!--header.....-->
				<div class="modal-header" style="height: 50px;">
				<a class="close glyphicon glyphicon-remove" style="color: darkred;" ng-click="cancel()" autofocus="false"></a>
					<p class="text-left">
						<span style="font-size: 23px; font-weight: 600;">编辑成绩</span>
					</p>
				</div>
				<!--main body......-->
				<div class="modal-body">
					<div class="content">
					<form name="ScoreForm"
							action="#" method="post" novalidate>
					<table ng-table="innerParams"
							class="table table-striped table-condensed table-hover table-align table-bordered">
						<tr ng-repeat="scoreu in $data" ng-form="scoreuForm"
							demo-tracked-table-row="scoreu">
							<td data-title="'学院'"
								filter="{saname : 'text'}" 
								sortable="'saname'" header-class="'active'" 
								demo-tracked-table-cell>
								{{scoreu.saname}}</td>
								
							<td data-title="'专业'" 
								filter="{smname: 'text'}" sortable="'smname'" 
								header-class="'active'" demo-tracked-table-cell
								>{{scoreu.smname}}</td>
								
							<td data-title="'班级'"
								filter="{sclass: 'text'}" sortable="'sclass'"
								header-class="'active'" demo-tracked-table-cell
							    >{{scoreu.sclass}}</td>
							    
							<td data-title="'账号'"
								filter="{snumber: 'text'}" sortable="'snumber'"
								header-class="'active'" demo-tracked-table-cell
							    >{{scoreu.snumber}}</td>
							    
							<td data-title="'姓名'"
								filter="{sname: 'text'}" sortable="'sname'"
								header-class="'active'" demo-tracked-table-cell
							    >{{scoreu.sname}}</td>
							
							<td data-title="'考试总分'"
								filter="{totalscore: 'text'}" sortable="'totalscore'"
								header-class="'active'" demo-tracked-table-cell
							    >{{scoreu.totalscore}}</td>
							
							<td data-title="'*考试成绩'"
								filter="{score: 'text'}" sortable="'score'"
								header-class="'active'" demo-tracked-table-cell
							    ><input type="text" class="form-control" name="score" placeholder="非空"
								autofocus="autofocus" ng-model="scoreu.score" required/>
							</td>
							    
							<td data-title="'考试绩点'"
								filter="{point: 'text'}" sortable="'point'"
								header-class="'active'" demo-tracked-table-cell
							    ><input type="text" class="form-control"
								ng-model="scoreu.point" ng-disabled="isPointBanned"/>
							</td>
							
							<td data-title="'备注'"
								filter="{sdescription: 'text'}" sortable="'sdescription'"
								header-class="'active'" demo-tracked-table-cell
							    ><input type="text" class="form-control"
								ng-model="scoreu.sdescription"/>
							</td>
						</tr>
					</table>
					</form>
				</div>
				</div>
				<!--modal body end-->
				<!--modal footer....-->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="updateScore()" ng-disabled="ScoreForm.$invalid">保存</button>
					<button type="button" class="btn btn-danger" ng-click="cancel()">取消</button>
				</div>
			</div>
		</div>
	</div>
</script>


<script type="text/ng-template" id="sureSaveSC.html">
	<div class="modalCustom">
		<di>
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" style="font-size: 20px; font-weight: 600;">提示</h2>
				</div>
				<div class="modal-body">
					<h3>确定保存所编辑内容吗？</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-lg yes" style="float: left;width: 16%" ng-click="yes()">是</button>
					<button type="button" class="btn btn-danger btn-lg no" style="float: right;width: 16%" ng-click="no()">否</button>
				</div>
			</div>
		</div>
	</div>
</script>
