<div class="container body" style="background: #2A3F54;">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="../global/img/cat.jpg" alt="..." class="img-rounded profile_img">
              </div>
              <div class="profile_info">
                <span>欢迎登录,</span>
                <h2 ng-bind="user.name"></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-user" data-toggle="collapse" data-target="#infomation"></i>信息<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" id="information">
                      <li ui-sref-active="active"><a ui-sref=".infomation-view">查看</a></li>
                      <li ui-sref-active="active"><a ui-sref=".infomation-news">消息</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-book"></i>课程<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ui-sref-active="active"><a ui-sref=".course-view">查看</a></li>
                      <li ui-sref-active="active"><a ui-sref=".course-select">选课</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i>考试<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ui-sref-active="active"><a ui-sref=".exam-view">查看</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-balance-scale"></i>成绩<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ui-sref-active="active"><a ui-sref=".score-view">查看</a></li>
                      <li ui-sref-active="active"><a ui-sref=".score-mark">收藏</a></li>
                      <li ui-sref-active="active"><a ui-sref=".score-report">报表</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i>人员<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ui-sref-active="active"><a ui-sref=".member-student">学生</a></li>
                      <li ui-sref-active="active"><a ui-sref=".member-teacher">教师</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="消息" ui-sref-active="active" ui-sref=".infomation-news">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="退出" href="javascript:;" ng-click="logout()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img class="img-rounded" src="../global/img/cat.jpg" alt="">
                      <span ng-bind="user.name"></span>
                    <span class=" fa fa-chevron-circle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a ui-sref-active="active" ui-sref=".infomation-view">
                    	<i class="fa fa-folder-open pull-right"></i>个人信息</a></li>
                    <li>
                      <a ui-sref-active="active" ui-sref=".infomation-news">
                        <span class="badge bg-red pull-right">2</span>
                        <i class="fa fa-bell pull-right"></i><span>消息</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">
                    	<i class="fa fa-question-circle pull-right"></i>帮助</a></li>
                    <li><a href="javascript:;" ng-click="logout()">
                    	<i class="fa fa-sign-out pull-right"></i>退出登录</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" data-ui-view="">
          
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            2017 MSS 海事大学成绩管理系统
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    